.THIS .border-right {
	border-right: 2px solid #dddbda;
}

.THIS .image-container {
    position: relative;
    /* height: 300px; */
}

.THIS .image-container img {
    height:auto;
    /* max-height: 300px; */
}

.THIS .image-container .after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.THIS .image-container .after svg {
    width: 100%;
    height: 100%;
}

.THIS .transparent {
	opacity: 0.2;
}

.THIS .result-grid > div {
    padding: 2px 3px 0 3px;
    font-size: 12px;
    border-bottom: 1px dashed rgb(216, 221, 230);
}

.THIS .polygon {
    stroke-width:3;
    fill-opacity:0;
}

.THIS .polygonSelected {
    fill-opacity: 0.6;
}

.THIS .labelCloud {
    overflow: hidden;
    border: thin solid;
    border-color: token(colorBrand);
    background-color: burlywood;

}
.THIS .labelDiv {
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border: thin solid;
}

.THIS .labelSelected {
    background-color: token(colorBrand);
}