.THIS .slds-button--neutral {
    margin-left: 8px;
}

.THIS .layoutPadding {
     padding: 10px 0px;
}

.THIS .layoutBorder {
    border: 1px solid rgb(221, 219, 218);
    border-radius: .25rem;
    background-clip: padding-box;
}

.THIS .datasetHeader {
   background: #f7f9fb;
}

.THIS .max {
	width: 100%;
}

.THIS .min {
	width: 1%;
}

.THIS .idWidth {
	width: 70px;
}

.THIS .langWidth {
	width: 60px;
}

.THIS .createdWidth {
	width: 100px;
}

.THIS .updatedWidth {
	width: 100px;
}

.THIS .statusWidth {
	width: 100px;
}

.THIS .actionWidth {
	width: 80px;
}

