.runtime_sales_insightsInsightsContainer {
    border: none;
    padding-bottom: 2px;
}

.runtime_sales_insightsInsightsContainer.SFX_HOME .slds-card__header {
    padding: 0;
}

.runtime_sales_insightsInsightsContainer h2.einstein-logo-hdr {
    display: inline;
    width: 100%;
}

.runtime_sales_insightsEinsteinHeader.einstein-header-wrapper {
    background-image: url(/resource/einsteinplay__einstein_images/einstein_images/einstein_header_background.svg);
    background-repeat: repeat-x;
    background-size: auto 81px;
    border-radius: .25rem .25rem 0 0;
    border-color: rgb(221, 219, 218);
    height: 81px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    position: relative;
}

.runtime_sales_insightsEinsteinHeader .einstein-label {
    padding-left: .75rem;
    background: transparent;
    font-weight: 700;
    font-size: 1rem;
    color: rgb(22, 50, 92);
}

.runtime_sales_insightsEinsteinHeader .uiImage {
    padding: .95rem .75rem 0 0;
    margin-left: auto;
}

.einstein-message-container {
    padding:4rem 0 8rem 0;
}

.einstein-message {
    padding: 0 30px 0;
    text-align: center;
    font-size: .75rem;
    color: rgb(112, 110, 107);
}