.THIS .picture {
  max-width: 100%;
  height: auto;
  
}

.THIS .einstein-drop{
    color:#aaaaaa;
}

.THIS div.polaroid {
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  min-height: 200px;
  min-width: 200px;
  max-height: 300px;
  max-width: 400px;
  height: auto;
  border-radius: 4px;
  overflow:hidden;  
}

.THIS div .container {
  text-align: center;
  padding: 10px 20px;
  background-color: #FFFFFF;
}

.THIS div .img-container {
background-color: #F1F1F1;
}

.THIS .meter {
  border-radius: 25px;
  height: 20px;
  position: relative;
  background: token(colorBackgroundShade);
}

.THIS .meter > span {
display: block;
height: 100%;
border-top-right-radius: 8px;
border-bottom-right-radius: 8px;
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;
background-color: token(colorBackgroundButtonBrand);
background-image: linear-gradient(
  center bottom,
  rgb(43,194,83) 37%,
  rgb(84,240,84) 69%
);
box-shadow: 
  inset 0 2px 9px  rgba(255,255,255,0.3),
  inset 0 -2px 6px rgba(0,0,0,0.4);
position: relative;
overflow: hidden;
}

.THIS .green {
background-color: #f1a165;
background-image: linear-gradient(to bottom, #f1a165, #f36d0a);
}