:host {
	border-bottom-color: gray;
	border-bottom-style: solid;
	border-bottom-width: thin;
}

.header-column {
    padding: 0 2rem;
}
.field-title {
    font-size: .75rem;
    line-height: 1.25;
    color: #54698d;
    margin-bottom: .25rem;
}

.field-value {
	color: darkblue;
	font-weight: bold;
}

