.THIS .error {
    color: #CB2929;
    font-weight: bold;
}

.THIS .success {
    color: #029605;
    font-weight: bold;
}

.THIS .intro {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}